<div id="workspace-select-menu">
    <div class="select-grid">
        {{#each rows}}
            <div class="grid-row">
                {{#each columns}}
                    <a class="grid-item" data-gridString="{{gridString}}">
                        <div class="grid-icon"></div>
                    </a>
                {{/each}}
            </div>
        {{/each}}
    </div>
    <!--<div class="preview-container">-->
    <!--</div>-->
</div>