<form id="annotation-editor-{{windowId}}" class="annotation-editor annotation-tooltip"
      {{#if id}}data-anno-id="{{id}}"{{/if}}>
    <div>
        // need to add a delete if permissions allow
        <div class="button-container">
            <a href="#cancel" class="cancel"><i class="fa fa-times-circle-o fa-fw"></i>{{t "cancel"}}</a>
            <a href="#save" class="save"><i class="fa fa-database fa-fw"></i>{{t "save"}}</a>
        </div>
    </div>
</form>