<div class="annotationsPanel">
    <ul class="annotationSources">
        {{#each annotationSources}}
            <li class="annotationListItem {{#if this.selected}}selected{{/if}} {{#if this.focused }}focused{{/if}}"
                data-id="{{this.annotationSource}}">
                <span>{{this.annotationSource}}</span>
            </li>
        {{/each}}
    </ul>
</div>