<div class="mirador-osd-context-controls hud-container">
    <a class="mirador-osd-back hud-control" role="button">
        <i class="fa fa-lg fa-arrow-left"></i>
    </a>
    <a class="mirador-osd-rect-tool hud-control" role="buton">
        <i class="fa fa-lg fa-pencil-square"></i>
    </a>
    <a class="mirador-osd-rect-tool hud-control" role="button">
        <i class="fa fa-lg fa-ellipsis-h"></i>
    </a>
    <a class="mirador-osd-rect-tool hud-control" role="button">
        <i class="fa fa-lg fa-gear"></i>
    </a>
</div>