<div>
    <div class="search-results-messages"></div>
    <div class="search-results-count"></div>
    <div class="search-results-pager"></div>
    <div class="search-results-container">
        {{> resultsList }}
    </div>
</div>